<aside class="relative bg-gray-800 h-screen w-[350px] hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="{{ path('app_dashboard_client') }}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">WELCOME</a>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <!-- Dashboard Link -->
        <a href="{{ path('app_dashboard_client') }}" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'app_dashboard_client' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fas fa-user mr-3"></i>
            Profile
        </a>
        <a href="{{ path('check_certificate_eligibility') }}" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'app_dashboard_client' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fas fa-chart-line mr-3"></i>
            Statistique
        </a>

        <!-- Souk Link -->
        <a href="#" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'souk' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fas fa-store mr-3"></i>
            Souk
        </a>

        <!-- Annonce Dropdown -->
        <div x-data="{ isOpen: false }" class="w-full" >
            <button @click="isOpen = !isOpen" 
                    class="w-full flex items-center justify-between py-4 pl-6 hover:bg-[#38a169]  transition-colors duration-200">
                <div class="flex items-center" >
                    <i class="fas fa-calendar-alt mr-3"></i>
                    Annonce
                </div>
                <i class="fas fa-chevron-down mr-4 transform transition-transform duration-200" 
                   :class="{'rotate-180': isOpen}"></i>
            </button>
            <div x-show="isOpen" 
                 x-transition:enter="transition ease-out duration-200" 
                 x-transition:enter-start="opacity-0 transform -translate-y-2" 
                 x-transition:enter-end="opacity-100 transform translate-y-0" 
                 x-transition:leave="transition ease-in duration-200" 
                 x-transition:leave-start="opacity-100 transform translate-y-0" 
                 x-transition:leave-end="opacity-0 transform -translate-y-2" 
                 class="bg-gray-700" >
                <a href="{{path('mesAnnonces')}}"  data-turbo="false"
                   class="block py-3 pl-16 hover:bg-green-800 transition-colors duration-200 no-underline text-white">
                    mes annonces
                </a>
                <a href="{{path('app_annonce_new')}}" data-turbo="false"
                   class="block py-3 pl-16 hover:bg-green-800 transition-colors duration-200 no-underline text-white">
                    ajouter annonce
                </a>
            </div>
        </div>

        <!-- Blog Link -->
        <a href="{{ path('blog') }}" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'blog' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fas fa-newspaper mr-3"></i>
            Blog
        </a>

        <!-- Event Dropdown -->
        <div x-data="{ isOpen: false }" class="w-full">
            <button @click="isOpen = !isOpen" 
                    class="w-full flex items-center justify-between py-4 pl-6 hover:bg-[#38a169] transition-colors duration-200">
                <div class="flex items-center">
                    <i class="fas fa-calendar-alt mr-3"></i>
                    Événement
                </div>
                <i class="fas fa-chevron-down mr-4 transform transition-transform duration-200" 
                   :class="{'rotate-180': isOpen}"></i>
            </button>
            <div x-show="isOpen" 
                 x-transition:enter="transition ease-out duration-200" 
                 x-transition:enter-start="opacity-0 transform -translate-y-2" 
                 x-transition:enter-end="opacity-100 transform translate-y-0" 
                 x-transition:leave="transition ease-in duration-200" 
                 x-transition:leave-start="opacity-100 transform translate-y-0" 
                 x-transition:leave-end="opacity-0 transform -translate-y-2" 
                 class="bg-gray-700">
                <a href="{{path('my_events')}}" 
                   class="block py-3 pl-16 hover:bg-green-800 transition-colors duration-200 no-underline text-white">
                    mes evenements
                </a>
                <a href="{{path('app_event_new')}}" 
                   class="block py-3 pl-16 hover:bg-green-800 transition-colors duration-200 ">
                    ajouter evenements
                </a>
            </div>
        </div>

        <!-- Livraison Link -->
        <a href="{{ path('livraison') }}" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'livraison' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fas fa-shipping-fast mr-3"></i>
            Livraison
        </a>

        <!-- Conversation Link -->
        <a href="{{ path('conversation') }}" data-turbo="false" 
           class="flex items-center py-4 pl-6 nav-item no-underline text-white {{ app.request.attributes.get('_route') == 'conversation' ? 'bg-green-700' : 'hover:bg-green-700' }} transition-colors duration-200">
            <i class="fa fa-comments mr-3" aria-hidden="true"></i>
            Conversation
        </a>
    </nav>
</aside>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
