{% extends 'base.html.twig' %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gruppo&display=swap');
    
    .font-handwriting {
        font-family: "Edu AU VIC WA NT Hand", serif;
    }
    @keyframes slide {
        from { transform: translateY(0%); }
        to { transform: translateY(-50%); }
    }

    .animate-slide {
        animation: slide 8s linear infinite;
    }

    .animate-slide-reverse {
        animation: slide 8s linear infinite reverse;
    }

    .left-section::-webkit-scrollbar {
        display: none;
    }

    .left-section {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

<div class="grid grid-cols-1 md:grid-cols-2 h-screen gap-4 items-center overflow-hidden">
    <div class="left-section p-8 w-full max-w-2xl mx-auto overflow-y-auto h-[80vh] mt-1">
        <h2 class="text-3xl font-semibold text-gray-800 mb-8">
            Inscrivez-vous sur <span class="font-handwriting text-green-600">SWAPIFY</span>
        </h2>

        {{ form_start(registrationForm, {'attr': {'class': 'space-y-6', 'novalidate': 'novalidate','data-turbo': 'false' }}) }}

        <div class="space-y-4">
            <div class="space-y-2">
                {{ form_label(registrationForm.nom, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.nom, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.nom) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.prenom, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.prenom, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.prenom) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.email) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.imageUrl, 'Image de profil', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.imageUrl, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.imageUrl) }}</div>
            </div>


            <div class="space-y-2">
                {{ form_label(registrationForm.dateNaissance, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.dateNaissance, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.dateNaissance) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.tel, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.tel, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.tel) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.adresse, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.adresse, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.adresse) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.password.first, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.password.first, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.password.first) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_label(registrationForm.password.second, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.password.second, {'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-200 focus:outline-none'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.password.second) }}</div>
            </div>

            <div class="space-y-2">
                {{ form_widget(registrationForm.consent, {'attr': {'class': 'h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500'}}) }}
                {{ form_label(registrationForm.consent, null, {'label_attr': {'class': 'ml-2 text-sm text-gray-700'}}) }}
                <div class="text-red-500 text-sm mt-1">{{ form_errors(registrationForm.consent) }}</div>
            </div>
        </div>

        <button type="submit" class="w-full bg-green-600 text-white py-3 px-4 rounded-lg font-semibold text-lg hover:bg-green-700 transition duration-200 mt-6">
            S'inscrire
        </button>

        {{ form_end(registrationForm) }}
    </div>

    <div class="hidden md:grid grid-cols-3 gap-4 overflow-hidden h-[100vh]">
        <div class="grid grid-rows-6 gap-4 animate-slide">
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">🚗</div>
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">📱</div>
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">📚</div>
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">🚗</div>
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">📱</div>
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">📚</div>
        </div>

        <div class="grid grid-rows-6 gap-4 animate-slide-reverse">
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">👕</div>
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">⛺</div>
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">🪑</div>
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">👕</div>
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">⛺</div>
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">🪑</div>
        </div>

        <div class="grid grid-rows-6 gap-4 animate-slide">
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">🚗</div>
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">📱</div>
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">📚</div>
            <div class="h-56 bg-cyan-100 rounded-lg flex items-center justify-center text-4xl">🚗</div>
            <div class="h-56 bg-green-100 rounded-lg flex items-center justify-center text-4xl">📱</div>
            <div class="h-56 bg-pink-100 rounded-lg flex items-center justify-center text-4xl">📚</div>
        </div>
    </div>
</div>
{% endblock %}
