{% extends 'base.html.twig' %}

{% block body %}
<div class="w-full overflow-hidden border-t flex flex-col">
	<main class="w-full flex-grow p-6">
		<p class="text-xl pb-6 flex items-center">
			<i class="fas fa-shipping-fast mr-3"></i>
			livraison
		</p>

		<div class="flex flex-col space-y-6">
			<!-- Form -->

			<!-- list -->
				<div class="w-full"> {% if livraisons is empty %}
					<p class="text-center text-gray-500 text-lg">Aucune livraison trouvée.</p>
				{% else %}
					{% for message in app.flashes('success') %}
						<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
							<strong class="font-bold">Succès !
							</strong>
							<span class="block sm:inline">{{ message }}</span>
							<button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.style.display='none';">
								✖
							</button>
						</div>
					{% endfor %}
					<table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
						<thead class="bg-gray-50">
							<tr>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									ID
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Destinataire
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Numéro
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Code Postal
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Statut
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Actions
								</th>

								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Code pour le Livreur
								</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Temps  estimé d'arrivé
								</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-200">
							{% for livraison in livraisons %}

								<tr>
									<td class="px-6 py-4 whitespace-nowrap">
										<div class="flex items-center">

											<div class="ml-4">
												<div class="text-sm font-medium text-gray-900">
													{{livraison .id}}

												</div>

											</div>
										</div>
									</td>
									<td class="px-6 py-4 whitespace-nowrap">
										<div class="text-sm text-gray-900">
											{% if app.user == livraison.idExpediteur %}
												{{ livraison.idDistinataire ? livraison.idDistinataire.email : 'Utilisateur inconnu' }}
											{% else %}
												{{ livraison.idExpediteur ? livraison.idExpediteur.email : 'Utilisateur inconnu' }}
											{% endif %}
										</div>
									</td>

									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{% if app.user == livraison.idExpediteur %}
											{{ livraison.telephoneExpediteur }}
										{% else %}
											{{ livraison.telephoneDestinataire }}
										{% endif %}
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{% if app.user == livraison.idExpediteur %}
											{{ livraison.codePostalExpediteur }}
										{% else %}
											{{ livraison.codePostalDestinataire }}
										{% endif %}

									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{% if livraison.statut == 'En attente de localisation du destinataire' and app.user == livraison.idDistinataire %}
											<a href="{{ path('livraison_dist', {'id': livraison.id}) }}" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-red-600 transition">
												🚨 Compléter vos informations
											</a>
										{% else %}
											<span class="px-3 py-1 rounded-lg text-white
																																																																																																                                            {% if livraison.statut == 'Livraison en cours' %} bg-yellow-500 {% elseif livraison.statut == 'Livré' %} bg-green-500 {% else %} bg-gray-500 {% endif %}">
												{{ livraison.statut }}
											</span>
										{% endif %}

									</td>

									<td class="px-6 py-4 whitespace-nowrap text-sm font-medium space-x-2 flex flex-wrap">
										{% if app.user == livraison.idDistinataire and livraison.statut =='En cours de traitement' %}
											<a href="{{ path('edit_livraison_dist', {'id': livraison.id}) }}" class="bg-blue-500 text-white px-4 py-1 rounded-lg shadow hover:bg-blue-600 transition">
												✏ Modifier
											</a>
										{% endif %}

										{% if app.user == livraison.idExpediteur and livraison.paymentExp == 'non payé' and livraison.paymentExp == 'non payé'  %}
											<a href="{{ path('livraison_annuler', {'id': livraison.id}) }}" class="bg-red-500 text-white px-8 py-1 rounded-lg shadow hover:bg-red-600 transition">
												❌ Annuler la livraison
											</a>
										{% endif %}

										{% if app.user == livraison.idExpediteur and livraison.statut == 'En cours de traitement' or livraison.statut=='En attente de localisation du destinataire'  %}

											<a href="{{ path('livraison_edit_expidataire', {'id': livraison.id}) }}" class="bg-yellow-500 text-white px-4 py-1 rounded-lg shadow hover:bg-yellow-600 transition">
												✏ Modifier
											</a>
										{% endif %}

										{% if app.user == livraison.idExpediteur and livraison.paymentExp == 'non payé' %}
											<a href="{{ path('payment_page', {'id': livraison.id}) }}" class="bg-green-500 text-white px-4 py-1 rounded-lg shadow hover:bg-green-600 transition">
												💳 Payer
											</a>
										{% elseif app.user == livraison.idDistinataire and livraison.paymentDist == 'non payé' and livraison.statut != 'En attente de localisation du destinataire' %}
											<a href="{{ path('payment_page', {'id': livraison.id}) }}" class="bg-green-500 text-white px-4 py-1 rounded-lg shadow hover:bg-green-600 transition">
												💳 Payer
											</a>
										{% endif %}
									</td>
									<td>
										{% if (livraison.statut == 'En cours de livraison' or livraison.statut == 'Livrée pour l\'expéditeur') and app.user == livraison.idDistinataire %}

									<img src="{{ path('livraison_qr_destinataire', { id: livraison.id }) }}" alt="QR Code Livraison" class="w-20 h-20 object-contain">								{% endif %}
</td>
								
								{% if (livraison.statut == 'En cours de livraison' or livraison.statut == 'Livrée pour le destinataire') and app.user == livraison.idExpediteur %}
									<td><img src="{{ path('livraison_qr_expediteur', { id: livraison.id }) }}" alt="QR Code Livraison" class="w-20 h-20 object-contain"></td>
								{% endif %}

								{% if livraison.eta is defined %}
								<td> 
									<p>  <strong>{{ livraison.eta }}</strong></p>
										</td>

								{% endif %}
						
									</tr>
					
								{% endfor %}
							</tbody>
						</table>
					{% endif %}

				</div>
			</div>
		</main>
	</div>
{% endblock %}
