{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .fade-out {
            animation: fadeOut 5s forwards; /* 5 seconds duration */
        }

        @keyframes fadeOut {
            0% { opacity: 1; }
            90% { opacity: 1; }
            100% { opacity: 0; display: none; }
        }
    </style>
{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% if type == 'success' %}
            {% for message in messages %}
                <div class="alert alert-success fade-out">
                    {{ message }}
                </div>
            {% endfor %}
        {% elseif type == 'warning' %}
            {% for message in messages %}
                <div class="alert alert-warning fade-out">
                    {{ message }}
                </div>
            {% endfor %}
        {% elseif type == 'error' %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {{ include('annonce/_form.html.twig') }}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Vérifie si position.coords existe avant d'y accéder
                    if (position.coords && position.coords.latitude && position.coords.longitude) {
                        console.log("position", position.coords.latitude, position.coords.longitude);
                        document.getElementById("annonce_localisation_x").value = position.coords.latitude;
                        document.getElementById("annonce_localisation_y").value = position.coords.longitude;
                    } else {
                        console.error("La géolocalisation a échoué, pas de coordonnées disponibles.");
                    }
                }, function(error) {
                    console.error("Erreur de géolocalisation :", error);
                });
            } else {
                console.log("La géolocalisation n'est pas supportée par ce navigateur.");
            }
        });
    </script>
{% endblock %}