    <div class="bg-white p-6 rounded-lg shadow-lg md:col-span-4 mt-4">
        <h2 class="text-xl font-bold mb-4">Modifier Détails</h2>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {% set formFields = [
            { id: 'nom', label: 'Nom', widget: form.nom },
            { id: 'prenom', label: 'Prénom', widget: form.prenom },
            { id: 'tel', label: 'Téléphone', widget: form.tel },
            { id: 'adresse', label: 'Adresse', widget: form.adresse },
            { id: 'password_first', label: 'Nouveau mot de passe', widget: form.password.first },
            { id: 'password_second', label: 'Confirmez le mot de passe', widget: form.password.second }
        ] %}

        {% for field in formFields %}
            <div class="mb-4">
                <label for="{{ field.id }}" class="block text-gray-700 font-semibold">{{ field.label }}</label>
                {{ form_widget(field.widget, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded-md'}}) }}
                <div class="text-danger">{{ form_errors(field.widget) }}</div>
            </div>
        
     {% endfor %}




        {{ form_end(form) }}
    </div>